@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 20px 0;
  font-family: 'Poppins';
  text-align: center;
}
input{
  display: block;
  margin: 10px auto;
}
button{
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: crimson;
  color: aliceblue;
  padding: 10px;
}